{
  "extends": ["react-app"],
  "rules": {
    "react/jsx-uses-react": "on",
    "react/react-in-jsx-scope": "on",
    "react/self-closing-comp": [
      "error",
      {
        "component": true,
        "html": true
      }
    ]
  }
}
