<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>470949041444-d648vi58u5hbndr59f0nj4ncfp4gjnc4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.470949041444-d648vi58u5hbndr59f0nj4ncfp4gjnc4</string>
	<key>API_KEY</key>
	<string>AIzaSyDxeou3F7hsDa0kLg4av-QAx7WSwnuyqNs</string>
	<key>GCM_SENDER_ID</key>
	<string>470949041444</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.captureit</string>
	<key>PROJECT_ID</key>
	<string>capture-it-93c05</string>
	<key>STORAGE_BUCKET</key>
	<string>capture-it-93c05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:470949041444:ios:72b13303688078b1200fb1</string>
</dict>
</plist>